/* \\wsl.localhost\Ubuntu\home\aivets\projects\worryaway\app\assets\stylesheets\application.css */

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4; /* 背景色は必要に応じて変更 */
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 100%のviewportの高さ */
  width: 100vw; /* 100%のviewportの幅 */
}

.center-container > * {
  margin-bottom: 20px; /* 子要素の間隔を確保 */
}

.center-container > *:last-child {
  margin-bottom: 0; /* 最後の子要素の下の余白を取り除く */
}