/* \\wsl.localhost\Ubuntu\home\aivets\projects\worryaway\app\assets\stylesheets\application.css */

 body, html {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #bdfcf4;
  display: flex;
  align-items: center;
}

.home-body {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}


.header {
  text-align: center;
  padding: 20px;
  position: fixed;
  width: 100%;
  background-color: #d0ff97;
  border-bottom: 2px solid #8dc8c2;
}

.field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.worries-list {
  margin-top: 200px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-left: 50px;
}

.worry-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex-basis: 200px;
}


/* お悩み投稿ページの「ファイルを選択」ボタンを消してに「画像選択」ボタンを表示する */
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden; /* 「ファイルを選択」ボタンを消す */
}
.custom-file-input {
  width: 100px; /* 画像選択ボタンを表示する範囲 */
  cursor: pointer; /* 指マークを表示 */
}
.custom-file-input::before {
  content: '画像選択'; /* 「画像選択」ボタンを作成 */
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
}

/* link_to部分のボタン表示 */
.btn-standard1 {
  margin:5px;
  display: inline-block;
  padding: 15px 20px 7px 20px;       /* 必要に応じて調整 */
  width: 100px;             /* ボタンの幅 */
  height: 18px;             /* ボタンの高さ */
  line-height: 10px;        /* テキストの垂直位置を調整 */
  font-size: 11px;          /* フォントサイズを設定 */
  border: none;
  background-color: #007BFF;
  color: #FFFFFF;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn-standard1:hover {
  background-color: #0056b3;  /* マウスオーバー時の色 */
}


/* submit_tag部分のボタン表示 */
.btn-standard2 {
  margin:5px;
  display: inline-block;
  padding: 0px 0px 0px 0px;       /* 必要に応じて調整 */
  width: 140px;             /* ボタンの幅 */
  height: 40px;             /* ボタンの高さ */
  line-height: 10px;        /* テキストの垂直位置を調整 */
  font-size: 11px;          /* フォントサイズを設定 */
  border: none;
  background-color: #007BFF;
  color: #FFFFFF;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn-standard2:hover {
  background-color: #0056b3;  /* マウスオーバー時の色 */
}